

.div-style img{

    width: 300px;
    height: 300px;
    border: 2px solid gray;
    border-radius: 10px;
 
    
    
}





#show-item{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    


}
